@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto&display=swap');

body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

h1, h2 {
    font-family: Roboto, sans-serif;
}

h2 {
    font-size: 120%;
    text-align: center;
}

#name {
    background-color: white;
    color: grey;
    width: 300px;
    height: 450px;
    padding: 20px;
    border: 2px solid rgb(90, 89, 89);
    border-radius: 3%;
    margin: 10% auto;
}

a:hover {
    color:rgb(153, 153, 153)
}

a {
    color: rgb(63, 62, 62);
}
@media screen and (max-width: 350px){
    #name{
        width: 170px;
        font-size: small;
    }
}